@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.42;
  background: #001821;
}
.main-page__wrapper {
  background: url("../img/background-top.jpg") center top no-repeat,
    url("../img/background-bottom.jpg") right bottom no-repeat;
}
a {
  color: inherit;
}
h1 {
  font-size: 72px;
  line-height: 100px;
  letter-spacing: 1px;
}

h2 {
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 125px;
  position: relative;
  margin-bottom: 74px;
}

.logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
}

.menu {
  position: absolute;
  top: 40px;
  left: 164px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #da0100;
}

.contacts {
  font-style: normal;
  position: absolute;
  top: 28px;
  right: 0px;
  text-align: right;
}

.contacts__phone {
  font-size: 26px;
  line-height: 35px;
  text-decoration: none;
}

.contacts__schedule {
  font-size: 13px;
  line-height: 6px;
  text-decoration: underline;
}

.contacts__desc {
  color: #9a9a9a;
  font-size: 11px;
}

.main-title {
  margin-bottom: 247px;
}
.main-title__title {
  width: 510px;
  margin-bottom: 20px;
}

.main-title__text {
  font-size: 18px;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  border: 1px solid #f5170e;
  border-radius: 35px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.button__more {
  background: #f5170e;
  padding: 17px 38px;
}

.hot-tours {
  margin-bottom: 122px;
}

.hot-tours__title {
  margin-bottom: 49px;
  letter-spacing: 1px;
}

.hot-tours__title::after {
  content: "";
  width: 21px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  background: url("../img/flame.png");
}

.card {
  display: inline-block;
  min-height: 450px;
  width: 362px;
  background: #fff;
  border-radius: 5px;
  margin-right: 22px;
  overflow: hidden;
}

.card:last-child {
  margin-right: 0;
}

.card__header {
  margin-bottom: 29px;
}

.card__body {
  padding: 0 16px 0 22px;
}

.card__title {
  color: #000;
  margin-bottom: 20px;
}

.card__duration-meal {
  color: #666;
  margin-bottom: 23px;
  padding-left: 5px;
}

.card__duration {
  display: inline-block;
  margin-right: 28px;
  vertical-align: middle;
}

.card__duration::before {
  content: "";
  background: url("../img/calendar.png");
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.card__meal {
  display: inline-block;
  vertical-align: middle;
}

.card__meal::before {
  content: "";
  background: url("../img/meal.png");
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 26px;
  margin-right: 10px;
}

.card__desc {
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  margin-bottom: 25px;
}

.button-see {
  color: #f5170e;
  padding: 16px 29px;
}

.button-see:hover {
  color: #fff;
  background: #f5170e;
}

.news-promotions {
  margin-bottom: 142px;
}
.news-promotions__body {
  margin-bottom: 53px;
}

.news-promotions__header {
  margin-bottom: 51px;
}

.news-promotions__item {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 21px;
  position: relative;
}

.news-promotions__item:last-child {
  margin-right: 0;
}

.news-promotions__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-promotions__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 48px 30px;
}

.news-promotions__date {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 13px;
}

.news-promotions__title {
  margin-bottom: 4px;
}

.paginator {
  text-align: center;
}

.paginator__display,
.paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 25px;
}
.paginator__item {
  display: inline-block;
}

.paginator__item_active .paginator__link {
  background: #fff;
  color: #f5170e;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}

.paginator__link:hover {
  color: #f5170e;
}

.about-us {
  margin-bottom: 52px;
}

.about-us:before,
.about-us__desc {
  display: inline-block;
  vertical-align: top;
}

.about-us:before {
  content: "";
  width: 490px;
  height: 505px;
  background: url("../img/bike.jpg") center center / cover no-repeat;
  border-radius: 5px;
}

.about-us__desc {
  background: url("../img/river.jpg") center center no-repeat;
  width: 785px;
  padding: 70px 81px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: -140px;
  margin-top: 98px;
}
.about-us__title {
  color: #000;
  margin-bottom: 40px;
}

.about-us__desc-text {
  color: #060606;
  width: 495px;
  line-height: 27px;
  margin-bottom: 65px;
}

.about-us__desc-text p {
  margin-bottom: 10px;
}

.about-us__desc-text p:last-child {
  margin-bottom: 0;
}

.footer {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 145px;
}

.logo__footer {
  top: 45px;
}

.menu__footer {
  top: 58px;
}

.contacts__footer {
  top: 48px;
}

.social {
  position: absolute;
  top: 50px;
  right: 265px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: no-repeat;
}

.social__item_icon_tg .social__link {
  background-image: url("../img/tg-icon.png");
}

.social__item_icon_vk .social__link {
  background-image: url("../img/vk-icon.png");
}

.social__item_icon_fb .social__link {
  background-image: url("../img/facebook-icon.png");
}

.social__item_icon_inst .social__link {
  background-image: url("../img/instagram-icon.png");
}
