.wrapper {
  border: 3px solid #2c3e50;
  border-radius: 7px;
  width: 200px;
  height: 200px;
  background: #1abc9c;
  margin-top: 200px;
  animation: width 3s steps(10);
}

@keyframes width {
  to {
    width: 800px;
  }
}
