.about-us {
  margin-bottom: 56px;
}

.about-us__content {
  display: flex;
}

.about-us__content:before,
.about-us__desc {
  /* overflow: hidden; */
  border-radius: 5px;
}

.about-us__content:before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url("../../img/bike.jpg") center center / cover no-repeat;
}

.about-us__desc {
  background: url("../../img/river.jpg") center center / cover no-repeat;
  width: 785px;
  min-height: 455px;
  padding: 70px 80px;
  margin-top: 97px;
  margin-left: -137px;
}

.about-us__title {
  color: #000;
  margin-bottom: 37px;
}

.about-us__desc-text {
  color: #060606;
  width: 500px;
  line-height: 27px;
  margin-bottom: 59px;
}

.about-us__desc-text p {
  margin-bottom: 10px;
}

.about-us__desc-text p:last-child {
  margin-bottom: 0;
}
