.banner-section {
  height: 363px;
  background: url("../../img/background/background-review.jpg") center center
    no-repeat;
}

.banner-section__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: url("../../img/background/couple.png") right 5% bottom no-repeat;
}

.banner-section__content {
  max-width: 60%;
}

.banner-section__title {
  display: inline-block;
  max-width: 595px;
  font-size: 48px;
  line-height: 65px;
  align-self: center;
  margin-right: 25px;
}
