.button {
  display: inline-block;
  border: 1px solid #f5170e;
  border-radius: 35px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.button-more {
  background: #f5170e;
  padding: 17px 38px;
}

.button-more:hover {
  background: #da0100;
}

.button-see {
  display: block;
  color: #f5170e;
  width: 135px;
  height: 55px;
  padding: 18px 30px;
  text-align: center;
  margin-left: 23px;
  margin-bottom: 28px;
}

.button-see:hover {
  color: #fff;
  background: #f5170e;
}
