.card {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: 33px 22px 27px;
  flex: 1;
}

.card__title {
  color: #000;
  margin-bottom: 21px;
}

.card__options {
  color: #666666;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 24px;
}

.options__list {
  display: flex;
  align-items: center;
}

.options__item {
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.options__item:last-child {
  margin-right: 0;
}

.options__item--type--duration:before {
  content: "";
  width: 26px;
  height: 26px;
  background: url("../../img/calendar.png") no-repeat;
  margin-right: 10px;
}

.options__item--type--meal:before {
  content: "";
  width: 36px;
  height: 26px;
  background: url("../../img/meal.png") no-repeat;
  margin-right: 10px;
}

.card__desc {
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  margin-bottom: 25px;
}
