.footer-container {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 39px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.footer__socials {
  margin-right: 74px;
}

.inner-footer {
  background: #001821;
  height: 132px;
}

.inner-footer__container {
  padding: 48px 0 42px;
}
