.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 26px;
  margin-bottom: 20px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}
