.hot-tours {
  margin-bottom: 125px;
}

.hot-tours__title {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.hot-tours__title::after {
  content: "";
  width: 21px;
  height: 28px;
  display: block;
  margin-left: 14px;
  background: url("../../img/flame.png");
}

.hot-tours__list {
  display: flex;
  justify-content: space-between;
}

.hot-tours__item {
  width: calc(100% / 3 - 18px);
}
