.hot-tours {
  margin-bottom: 125px;
}

.hot-tours__title {
  margin-bottom: 49px;
}

.hot-tours__title::after {
  content: "";
  width: 21px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  background: url("../../img/flame.png");
}

.hot-tours__list {
  display: flex;
  justify-content: space-between;
}

.hot-tours__item {
  width: calc(100% / 3 - 18px);
}
