.news-promotions {
  margin-bottom: 142px;
}

.news-promotions__header {
  margin-bottom: 51px;
}

.news-promotions__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.news-promotions__item {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.news-promotions__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-promotions__content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 49px 30px;
}

.news-promotions__date {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.news-promotions__subtitle {
  margin-bottom: 5px;
}
