.news-promotions {
  margin-bottom: 146px;
}

.news-promotions__header {
  margin-bottom: 51px;
}

.news-promotions__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.news-promotions__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-news-promotion__item {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.single-news-promotion__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-news-promotion__content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 49px 30px;
}

.single-news-promotion__date {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.single-news-promotion__subtitle {
  margin-bottom: 5px;
}
