.partners__container {
  padding: 90px 0 45px 0;
}

.partners__title {
  margin-bottom: 90px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners__item {
  margin-bottom: 58px;
  filter: grayscale(1);

  flex-grow: 1;
  min-width: 265px;
  max-width: 295px;
}

.partners__link {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: flex-start;
}

.partners__item:nth-child(4n + 4) .partners__link {
  justify-content: flex-end;
}

.partners__item:hover {
  filter: grayscale(0);
  transition: filter 0.3s;
}
