.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f4f5f5;
  max-width: 557px;
  padding: 50px 30px 32px 30px;
  margin-bottom: 17px;
  border-radius: 5px;
  /* align-content: flex-start; */
}

.review__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review__title {
  color: #1a1b1e;
  font-size: 30px;
  line-height: 42px;
}

.review__text {
  color: #818181;
}

.review__date {
  display: block;
  color: #1a1b1e;
  font-size: 14px;
}
