.services__list {
  display: flex;
  flex-direction: column;
  height: 716px;
  justify-content: space-between;
  margin-bottom: 65px;
}

.services__item {
  display: flex;
}

.services__img {
  border-radius: 5px;
  overflow: hidden;
  width: 460px;
  height: 333px;
}
