.socials__list {
  display: flex;
}

.socials__item {
  display: block;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
  text-decoration: none;
  background: no-repeat;
}

.socials__item--icon-tg .socials__link {
  background-image: url("../../img/socials/tg-icon.png");
}

.socials__item--icon-tg .socials__link:hover {
  background-image: url("../../img/socials/tg-icon-hover.png");
}

.socials__item--icon-vk .socials__link {
  background-image: url("../../img/socials/vk-icon.png");
}

.socials__item--icon-vk .socials__link:hover {
  background-image: url("../../img/socials/vk-icon-hover.png");
}

.socials__item--icon-fb .socials__link {
  background-image: url("../../img/socials/facebook-icon.png");
}

.socials__item--icon-fb .socials__link:hover {
  background-image: url("../../img/socials/facebook-icon-hover.png");
}

.socials__item--icon-inst .socials__link {
  background-image: url("../../img/socials/instagram-icon.png");
}

.socials__item--icon-inst .socials__link:hover {
  background-image: url("../../img/socials/instagram-icon-hover.png");
}
